.row{
    padding: 20px;
}

div{
    background-color: #a1b5cb;
    text-align: center;
}

#nombre{
    font-weight: bold;
    margin-top: 20%;
}

@media (min-width:756px){
    #foto-perfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 0px 0px 5px gray;
        left: 5%;
        top: 500px;
    }
}

@media (max-width:755px){
    #foto-perfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 0px 0px 3px gray;
        left: 43%;
        top: 400px;
    }
}